<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.OutstandFood_client."
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.screen.AddRatingActivity"
            android:exported="false" />
        <activity
            android:name=".view.screen.FoodHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.ship"
            android:exported="false" />
        <activity
            android:name=".view.screen.Onboarding_screen"
            android:exported="false" />
        <activity
            android:name=".view.screen.MyDetail.SetNewPassActivity"
            android:exported="false" />
        <activity
            android:name=".view.screen.MyDetail.SetUpDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.screen.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".view.screen.MyDetail.MydetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.screen.Address.AddOrUpdateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.screen.Address.ListAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.Introducts"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".view.screen.Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.screen.home_action_menu.Home_Screen"
            android:exported="false" />
        <activity
            android:name=".view.screen.Register_screen"
            android:exported="false" />
        <activity
            android:name=".view.screen.Login_screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:exported="true" />
    </application>

</manifest>